@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 80% 98%;
    --foreground: 235 17% 25%;

    --card: 37 80% 98%;
    --card-foreground: 235 17% 25%;

    --popover: 37 80% 98%;
    --popover-foreground: 235 17% 25%;

    --primary: 181 54% 38%;
    --primary-foreground: 235 17% 25%;
    --primary-foreground: 37 80% 98%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 181 54% 38%;
    --accent-foreground: 235 17% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 235 17% 25%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 48% 16%;
    --foreground: 220 20% 70%;

    --card: 235 17% 25%;
    --card-foreground: 220 20% 70%;

    --popover: 224 48% 16%;
    --popover-foreground: 220 20% 70%;

    --primary: 181 54% 38%;
    --primary-foreground: 37 80% 98%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 220 20% 70%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 181 54% 38%;
    --accent-foreground: 220 20% 70%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 20% 70%;

    --border: 12 6.5% 15.1%;
    --highlight: 37 80% 98%;
    --input: 220 20% 70%;
    --ring: 220 20% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
